@charset "UTF-8"; /* 
CORES
AZUL NORMAL= #2884b2
AZUL HOVER = #074a71
AZUL FOCUS = #00395a
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700'); /* GOTHAM FONTS */
@font-face {
    font-family: 'gotham-light';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/gotham-light.eot');
    src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-light.woff') format('woff'), url('../fonts/gotham-light.ttf') format('truetype'), url('../fonts/gotham-light.svg#gotham-light') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'gotham-medium';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gotham-medium.eot');
    src: url('../fonts/gotham-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-medium.woff') format('woff'), url('../fonts/gotham-medium.ttf') format('truetype'), url('../fonts/gotham-medium.svg#gotham-medium') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'gotham-bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gotham-bold.eot');
    src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-bold.woff') format('woff'), url('../fonts/gotham-bold.ttf') format('truetype'), url('../fonts/gotham-bold.svg#gotham-bold') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'gotham-black';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/gotham-black.eot');
    src: url('../fonts/gotham-black.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham-black.woff') format('woff'), url('../fonts/gotham-black.ttf') format('truetype'), url('../fonts/gotham-black.svg#gotham-black') format('svg');
    /* Legacy iOS */
}

/* CSS Document */
html, body {
    overflow-x: hidden;
    /* Previne rolagem em dispositivos estreitos */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    background-color: #eeeeee;
}

.page-header {
    margin-top: 25px
}

.lead {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .lead {
        font-size: 19.5px;
    }
}

.border-top {
    border-top: 1px solid #cccccc
}

/*.panel-default { min-height: 275px }*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: #333333;
}

h1, .h1 {
    font-size: 33px;
}

h2, .h2 {
    font-size: 27px;
}

h3, .h3 {
    font-size: 23px;
}

h4, .h4 {
    font-size: 17px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.form-control::-moz-placeholder {
    color: #dddddd;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #dddddd;
}

.form-control::-webkit-input-placeholder {
    color: #dddddd;
}

.breadcrumb {
    margin-bottom: 10px;
    font-size: 12px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 18px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}

a {
    color: #2884b2;
    text-decoration: none;
}

a:hover, a:focus {
    color: #074a71;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* ===== HEADER ===== */
.header {
    background: #ffffff;
    background-size: 100%;
    margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

.logo {
    padding: 0 0 8px 0;
    background: #fff;
    text-align: center;
    min-height: 58px;
}

.logo strong {
    display: none
}

.logo img {
    width: 170px;
    padding: 10px 0 0 0
}

.barra-cat {
    max-width: 1155px;
    min-height: 57px;
    position: relative;
    z-index: 200;
    margin-bottom: 0 !important;
    padding: 0px 8px 0;
    background: #ffffff;
    float: right
}

.barra-cat-mob {
    padding: 10px;
    background: #fff;
    border-top: 2px solid #efefef
}

.cat {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #2884b2;
    text-transform: uppercase;
    display: block;
    line-height: 1.2
}

.nome-cat {
    font-family: "gotham-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
    display: block;
}

.navbar-form {
    padding: 5px 15px 0
}

.navbar {
    position: relative;
    min-height: 40px;
    margin-bottom: 0px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #074a71;
    border: 0;
}

@media(max-width: 320px) {
    .btn {
        font-size: 14px !important;
    }
}

.btn {
    font-size: 18px;
    font-weight: bold
}

.btn-primary {
    color: #fff;
    background-color: #2884b2;
    border-color: #074a71;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #074a71;
    border-color: #074a71;
}

.btn-primary:hover {
    color: #fff;
    background-color: #074a71;
    border-color: #074a71;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #074a71;
    border-color: #074a71;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #cc3333;
    border-color: #993333;
}

.bt-buscar {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    background-color: #2884b2;
    color: #FFFFFF;
    font-size: 15px;
}

@media(max-width: 767px) {
    h1, .h1 {
        font-size: 27px;
    }

    h2, .h2 {
        font-size: 23px;
    }

    h3, .h3 {
        font-size: 17px;
    }

    h4, .h4 {
        font-size: 13px;
    }

    h5, .h5 {
        font-size: 12px;
    }

    h6, .h6 {
        font-size: 11px;
    }

    .lead {
        font-size: 16px;
    }

    p {
        font-size: 14px
    }
}

@media(min-width: 482px) {
    .logo {
        min-height: 66px;
    }

    .barra-cat {
        /*height: 66px;*/
        padding: 8px 8px 0;
    }
}

@media(min-width: 592px) {
    .logo {
        padding: 16px 0;
        min-height: 96px;
    }

    .logo img {
        padding: 0
    }

    .barra-cat {
        max-width: 1155px;
        /*height: 110px;*/
        position: relative;
        z-index: 200;
        margin-bottom: 0 !important;
        padding: 20px 10px;
    }
}

@media (min-width: 992px) {
    .header {
        /*background: url(../img/bg-header.gif);*/ background-size: 100%;
        border-bottom: 1px solid #2884b2;
    }

    .logo {
        background-size: auto 70%;
    }

    .barra-cat {
        padding: 17px 0 0 10px;
        background: #fff;
    }

    .cat {
        display: block;
        font-family: "gotham-medium", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #999;
        text-transform: uppercase;
        line-height: 1;
    }

    .nome-cat {
        display: block;
        font-family: "gotham-bold", Helvetica, Arial, sans-serif;
        font-size: 20px;
        color: #666;
        text-transform: uppercase;
        line-height: 1;
    }
}

/* ===== MENU ===== */
.navbar-inverse {
    background-color: #2884b2;
    border-color: #074a71;
}

.navbar-toggle {
    float: left;
    margin-right: 0px;
    margin-top: 10px;
    padding: 10px 6px;
}

.navbar-inverse .icon-bar {
    background-color: #ffffff;
}

.sidebar-offcanvas {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    background: #2884b2;
    z-index: 0;
    border-radius: 0 0 5px 5px;
    top: -115px;
}

.menu {
    margin-bottom: 0px;
    padding-left: 0;
}

.menu-item {
    padding: 14px 0 14px 20px;
    color: #ffffff;
    background-color: #2884b2;
    border: 0;
}

.menu ul {
    margin: 0;
    padding: 0
}

.menu li {
    list-style: none
}

.menu-item.active {
    color: #fff;
    background-color: #00395a;
}

a.menu-item:hover {
    color: #fff;
    background-color: #074a71;
}

a.menu-item:focus {
    background-color: #00395a;
    color: #fff;
}

.menu a {
    color: #fff;
}

@media(min-width: 482px) {
    .navbar-toggle {
        margin-top: 15px;
    }
}

@media(min-width: 592px) {
    .navbar-toggle {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: inline-block;
    }
}

/* nav menu styles */
#nav {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#nav > li > a {
    display: block;
    padding: 13px 30px;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    /* border-bottom: 1px solid #212121; */
    background-color: #2884b2;
}

#nav > li > a:hover, #nav > li > a.open {
    color: #ffffff;
    /* border-bottom-color: #384f76; */
    background-color: #074a71;
}

#nav li ul {
    display: none;
    background: #1e6385;
}

#nav li ul li a {
    display: block;
    background: none;
    padding: 10px 0px;
    padding-left: 40px;
    /* font-size: 1.1em; */
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    /*  text-shadow: 1px 1px 0px #000; */
}

#nav li ul li a:hover {
    background: #074a71;
}

@media(min-width: 992px) {
    #nav > li > a {
        padding: 13px 20px
    }

    #nav li ul li a {
        padding-left: 30px;
    }
}

/* ===== BUSCA ===== */
#topnav {
    display: block;
    float: right;
}

#topnav ul {
    list-style: none;
}

#topnav ul li {
    float: left;
    font-weight: bold;
}

#topnav ul li a {
    display: block;
    float: left;
    font-size: 28px;
    line-height: 80px;
    padding: 0 8px;
    margin-right: 8px;
    color: #666;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#topnav ul li a:hover {
    color: #2884b2;
}

#topnav ul li a#searchtoggl {
    line-height: 58px;
    margin-right: 0;
    padding: 0 14px;
}

.header .radio-inline, .header .checkbox-inline {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #727272;
    line-height: 2;
}

/* ===== hidden search field ===== */
#searchbar .btn-lg {
    font-size: 25px;
    padding: 15px 10px;
}

#searchbar {
    display: none;
    float: left;
    width: 100%;
    height: 85px;
    border-top: 1px solid #d8d8d8;
    padding-left: 10px;
    padding-right: 5px;
    z-index: 9999;
    background: #efefef;
    -webkit-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: -1px 2px 2px rgba(0,0,0,0.2);
}

#s {
    display: block;
    width: 85%;
    border: 0;
    outline: none;
    margin-top: 9px;
    padding: 0 4px;
    height: 45px;
    line-height: 60px;
    font-size: 1.5em;
    color: #676767;
    background: #ffffff;
    border: 1px solid #dddddd;
}

#searchsubmit {
    display: block;
    float: right;
    margin-top: 0px;
    background: none;
    color: #717171;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* ===== Off Canvas ===== */
@media screen and (max-width: 991px) {
    .sidebar-offcanvas {
        font-size: 13px
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas .sidebar-offcanvas {
        top: -130px;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%;
        /* 6 colunas */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%;
        /* 6 colunas */
    }

    .row-offcanvas-right.active {
        right: 50%;
        /* 6 colunas */
    }

    .row-offcanvas-left.active {
        left: 50%;
        /* 6 colunas */
    }

    .row-offcanvas .sidebar-offcanvas {
        position: absolute;
        width: 50%;
        /* 6 colunas */
    }
}

@media screen and (min-width: 482px) {
    .row-offcanvas .sidebar-offcanvas {
        position: absolute;
        top: -140px;
        width: 50%;
        /* 6 colunas */
    }
}

@media screen and (min-width: 592px) {
    .row-offcanvas .sidebar-offcanvas {
        position: absolute;
        top: -150px;
        width: 50%;
        /* 6 colunas */
    }
}

@media screen and (min-width: 991px) {
    .row-offcanvas .sidebar-offcanvas {
        position: relative;
        display: block;
        top: 20px;
        width: 25%;
        /* 6 colunas */
    }
}

@media screen and (max-width: 1200px) {
    .sidebar-offcanvas {
        font-size: 12px !important
    }
}

@media screen and (max-width: 320px) {
    .sidebar-offcanvas {
        font-size: 10px !important
    }
}

/* ##### CAROUSEL ##### */
.carousel {
    margin: 20px 0
}

.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 10;
    padding: 20px 40px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.carousel-caption h3 {
    margin: 0 0 10px;
    color: #fff
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 18px;
}

.carousel-indicators {
    /*bottom: 140px;*/
    top: 5px;
    height: 20px;
}

.bg-slide {
    display: block;
    max-width: 100%;
    height: 485px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ALTERACOES MICHEL NO CARROSSEL */
.carousel-control {
    height: 80%;
}

.carousel-control.left, .carousel-control.right {
    background: none
}

.carousel-inner .item a:hover {
    text-decoration: none !important;
}

.carousel-mi {
    color: #2884b2 !important;
    text-align: left;
    background: #fff !important;
    width: 100%;
    min-height: 150px;
    padding: 10px 20px !important;
    border-left: 8px solid #2884b2 !important;
}

.carousel-mi h3 {
    color: #2884b2 !important;
    padding: 0 !important;
    margin-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
}

.carousel-mi p {
    padding: 0 !important;
    font-size: 18px;
    line-height: 18px;
    color: #444 !important;
}

/* FIM ALTERACOES MICHEL NO CARROSSEL */
@media (max-width: 499px) {
    /* ALTERACOES MICHEL NO CARROSSEL */ .carousel-control {
        height: 70%;
    }

    /* FIM ALTERACOES MICHEL NO CARROSSEL */
}

@media (min-width: 600px) and (max-width: 768px) {
    .bg-slide {
        height: 440px;
    }
}

.container-destaque {
    padding-left: 0;
    padding-right: 0
}

.container-destaque > div > div:nth-child(3n+1) {
    clear: both
}

.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px
}

.bg-thumbnail {
    width: 100%;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.thumbnail .caption {
    min-height: 150px;
    border-bottom: 2px solid #2884b2;
}

.thumbnail h4 {
    font-size: 14px
}

@media(min-width: 767px) {
    .thumbnail h4 {
        font-size: 14px
    }

    .bg-thumbnail {
        height: 150px;
    }

    .carousel-indicators {
        /*bottom: 100px;*/
        top: 15px;
    }

    .carousel-mi {
        min-height: 100px;
    }

    .carousel-control {
        height: 80%;
    }
}

@media(min-width: 992px) {
    .thumbnail h4 {
        font-size: 16px
    }
}

.thumbnail a {
    text-decoration: none
}

.thumbnail a:hover h4 {
    color: #2884b2;
    text-decoration: none !important;
}

.thumbnail h5 {
    font-size: 12px;
    color: #2884b2;
    text-transform: uppercase
}

.conteudo, .conteudo-erro {
    min-height: 455px;
    background: #FFFFFF;
    padding-bottom: 20px;
    margin-top: 20px;
}

.panel-title {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
}

.conteudo p.bg-primary, .conteudo p.bg-success, .conteudo p.bg-info, .conteudo p.bg-warning, .conteudo p.bg-danger {
    padding: 10px
}

.nav-tabs > li > a {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
}

@media (max-width: 360px) {
    .nav-tabs > li > a {
        font-size: 10px
    }
}

/*==== TELAS ERRO ===== */
.header-erro {
    background: #ffffff
}

.conteudo-erro {
    padding: 50px 0 0;
    text-align: center;
    background: #EEEEEE;
}

.conteudo-erro h1 {
    background: url(../img/bg-404.gif) no-repeat center center;
    display: block;
    margin: 20px auto 10px auto;
    width: 100%;
    height: 110px;
    overflow: hidden;
    text-indent: -9999px;
}

@media (max-width: 360px) {
    .conteudo-erro {
        padding: 50px 0 150px;
    }

    .conteudo-erro h1 {
        background-size: 100%;
    }
}

.conteudo-erro p.url-404 {
    font-weight: bold;
    margin-bottom: 40px;
    color: #999
}

.footer-erro {
    position: absolute;
    bottom: 0;
    width: 100%
}

/*==== BARRA SOCIAL ===== */
.barra-social {
    padding-bottom: 10px
}

/*==== LISTA NOTICIAS ==== */
ul.lista-resultado {
    margin: 0;
    list-style: none;
}

.lista-resultado {
    padding-left: 0;
}

.lista-resultado a {
    position: relative;
    font-size: 17px;
    font-weight: bold;
    transition: color .2s ease-in-out;
}

.lista-resultado > li {
    position: relative;
    min-height: 74px;
    padding: 10px 0;
    overflow: hidden;
    clear: left;
    border-bottom: 1px solid #ccc
}

.lista-resultado > li:last-child {
    border: none
}

.lista-resultado > li a {
    float: left;
}

.lista-resultado > li a:first-child {
    float: none;
}

.lista-resultado img {
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 3px;
    vertical-align: middle;
    border: 0;
    background-clip: padding-box;
}

p.busca-highlight {
    margin-top: 2px;
}

.materia span {
    font-size: 12px;
    font-weight: 600
}

.materia div a img {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    padding: 0 10px 0 0;
}

@media (min-width: 567px) {
    /*.busca-com-foto { margin-left: 160px; }
*/.materia div a img {
        width: 150px;
        height: auto
    }
}

.pagination > li > a, .pagination > li > span {
    color: #2884b2;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #074a71;
}

/*====  NOTICIAS ===== */
.publicacao {
    font-size: 12px;
    color: #999999
}

.materia-assinatura {
    font-size: 12px;
    margin-bottom: 20px
}

/*====  INSCRICAO ONLINE  ===== */
.termo-aceite {
    position: relative;
    height: 370px;
    overflow: auto;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    padding: 15px;
}

.help-block {
    font-size: 13px;
}

.stepsbar {
    padding: 0;
    width: 100%;
}

.stepsbar ol {
    overflow: hidden;
    margin: 0;
    padding: 1em 0;
    list-style: none;
    line-height: 1.2;
    line-height: 1;
    font-size: 18px;
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    /* animation: chase 1s 1 forwards; */
}

.stepsbar li {
    float: left;
    display: inline;
    position: relative;
    counter-increment: li;
    width: 20%;
    text-align: center;
    color: #ccc;
    transition: all 0.5s ease;
}

.stepsbar li:before {
    content: counter(li);
    position: relative;
    background-color: #ccc;
    color: #fff;
    width: 35px;
    padding: .5em;
    margin: 0 auto .5em;
    border-radius: 100%;
    font-size: 0.9em;
    text-align: center;
    display: block;
    z-index: 2;
    border: 1px solid #b3b3b3;
    box-shadow: 0 0 2px 2px #fff;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-repeat: repeat;
    background-size: 20px 20px;
}

.stepsbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    display: block;
    background: #ccc;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-repeat: repeat-x;
    background-size: 20px 20px;
}

.stepsbar li:first-child.active:after {
    left: 50%;
}

.stepsbar li:last-child:after {
    display: none;
}

.stepsbar li.done {
    color: #8BC53F;
}

.stepsbar li.done:after {
    width: 100%;
    background-color: #57AED1;
    animation: progress 0.5s linear infinite;
}

.stepsbar li.done:before {
    background-color: #8BC53F;
    border-color: #70a130;
    color: white;
}

.stepsbar li.active {
    width: 20%;
    font-weight: bold;
    color: #57AED1;
}

.stepsbar li.active:after {
    width: 100%;
}

.stepsbar li.active:before {
    background-color: #57AED1;
    border: 0px solid #fff;
    color: white;
    box-shadow: 0 0 0 2px #57AED1;
    animation: progress .5s linear infinite;
    /* animation-delay: 3s; */
}

@keyframes progress {
    to {
        background-position: 20px 0;
    }
}

/* Pagamento */
.payments h2 {
    border-bottom: 1px solid #ccc /* background: #fafafa; */
}

.payments ol, .payments ul {
    margin: 0;
    padding: 0
}

.payments li {
    list-style: none;
    display: inline-block;
}

.payments label img {
    padding: 0 10px 0 5px;
}

.radio-inline label {
    padding-left: 0
}

@media all and (min-width: 767px) {
    .payments {
        max-width: 100%;
        margin: 0 auto 25px;
        padding: 0;
        overflow: hidden;
    }
}

.filtro-cursos {
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #efefef;
    text-align: center
}

.curso {
    display: block;
    margin: 0 0 20px 0;
    border-bottom: 3px solid #57aed1;
    padding: 20px;
    background: #f7f7f7;
}

.curso > div {
    text-align: center;
    padding: 5px 0 10px;
    border-bottom: 2px solid #ccc
}

.curso > div:last-child {
    border: none;
}

.curso > div:hover {
    background-color: rgba(0, 0, 0, .1)
}

.curso .titulo-curso {
    color: #292c37;
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    text-align: center
}

.nome-curso {
    position: relative;
    display: block;
    /* width: 470px; */
}

.presencial, .distancia, .gratuito {
    font-family: "gotham-medium", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 2px 10px 0;
    text-transform: uppercase
}

.presencial {
    background-color: #f0ad4e;
}

.distancia {
    background-color: #2884b2;
}

.gratuito {
    background-color: #390;
}

.matricula {
    padding: 20px
}

@media(min-width: 767px) {
    .filtro-cursos {
        text-align: left
    }

    .presencial, .distancia, .gratuito {
        float: right;
        min-width: 110px;
        margin: 0 5px 0 0;
    }

    .curso .titulo-curso {
        text-align: left
    }

    .nome-curso {
        display: inline-block;
    }

    .curso > div {
        text-align: left;
        padding: 8px;
        border: none
    }
}

/*==== FOOTER ===== */
footer {
    background-color: #fff;
}

footer nav.menu-footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

footer nav.menu-footer ul li {
    display: inline-block;
    padding: 5px 5px;
}

footer nav.menu-footer ul li a {
    font-family: "gotham-bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #797979;
    text-transform: uppercase;
    margin-right: 10px;
}

footer nav.menu-footer ul li:first-child a {
    padding-left: 0;
}

footer nav.menu-footer ul li:last-child a {
    padding-right: 0;
}

footer nav.menu-footer ul li a:hover {
    color: #565656;
    text-decoration: none;
}

footer address {
    background-color: #074a71;
    padding: 20px 5px;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
    border-bottom: 3px solid;
    margin-bottom: 0;
}

footer address h4, footer address p, footer address a {
    margin: 0;
    font-size: 14px;
}

footer address a {
    color: #ffffff
}

footer address a:hover {
    color: #ffffff
}

footer address h4 {
    color: #ffffff;
    padding-bottom: 5px;
}

footer .bottom {
    background: url(../img/bg_footer.jpg) top center no-repeat #074a71;
    background-size: 100% auto;
    padding: 40px 0;
}

footer .widget nav h3 {
    font-size: 0.91em;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
}

footer .widget nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .widget.link-inline {
    padding-bottom: 15px;
}

footer .widget.link-inline nav ul li {
    display: inline-block;
    padding-right: 50px;
}

footer .widget.link-inline nav ul li:last-child {
    padding-right: 0px;
}

footer .widget nav ul li {
    margin-bottom: 10px;
    line-height: 100%;
}

footer .widget nav ul li a {
    font-size: 0.91em;
    font-weight: 400;
    color: #FFFFFF;
}

footer .widget nav ul li a:hover {
    text-decoration: underline;
}

footer .widget nav ul li a.item-bold {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 3px;
}

footer .widget nav.sociais ul li {
    display: inline-block;
    text-align: center;
}

footer .widget nav.sociais ul li a {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 1.6em;
    line-height: 35px;
    margin-right: 5px;
}

footer .widget nav.sociais ul li a:hover {
    background-color: #FFFFFF;
    border-radius: 50px;
    text-decoration: none;
}

footer .widget nav.sociais ul li:first-child a {
    padding-left: 0;
}

footer .widget nav.sociais ul li a.fa-facebook:hover {
    color: #3C599F;
}

footer .widget nav.sociais ul li a.fa-twitter:hover {
    color: #5EA9DD;
}

footer .widget nav.sociais ul li a.fa-youtube-play:hover {
    color: #E12B28;
}

footer .widget nav.sociais ul li a.fa-linkedin:hover {
    color: #0177B5;
}

footer .widget nav.sociais ul li a.fa-instagram:hover {
    color: #AD8262;
}

footer .copyright {
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2884b2;
    padding: 10px 0;
}

.barra-mes {
    margin: 20px auto 0;
    width: auto;
}

.box-mes {
    padding: 0 5px;
    margin-bottom: 10px;
}

.barra-mes a:hover, .barra-mes .current {
    color: #ffffff;
    background: #2884b2;
}

.barra-mes a {
    position: relative;
    display: block;
    padding: 0 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #2884b2;
    background-color: #efefef;
    text-decoration: none;
    text-align: center;
}

.eventos .tab-content {
    display: inline-block;
}

.dia-evento {
    display: inline-block;
    width: 100%;
    margin: 0;
}

.outros-dados {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 100%;
}

.outros-dados span {
    display: inline-block;
    color: #7d7d7d;
    padding: 0 0 5px 0;
}

.outros-dados ul {
    display: list-item;
    list-style-type: none;
    color: #7d7d7d;
    padding: 0;
    margin: 0 0 5px 0;
}

.outros-dados .genero {
    font-size: 14px;
    font-weight: bold;
    display: table;
    color: #7d7d7d;
}

.outros-dados li {
    list-style: none;
}

.outros-dados .glyphicon {
    font-size: 12px;
    color: #cc0000;
    width: 20px;
    height: 20px;
    top: 13px;
    float: left;
}

.outros-dados .titulo a {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    display: table;
    text-decoration: none;
}

.outros-dados .espaco, .outros-dados .local, .outros-dados .horario {
    /*font-size: 18px;*/
    line-height: 18px;
    font-weight: normal;
    color: #7d7d7d;
    margin: 10px 0 0 20px;
}

.outros-dados .horario, .detalhe-dia-evento .horario {
    /*font-size: 18px;*/
    font-weight: bold;
}

.dia-do-mes {
    display: table;
    font-size: 37px;
    line-height: 30px;
    color: #ff0008;
    font-weight: 200;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}

.faixa-etaria img {
    width: 24px;
}

.faixa-etaria {
    float: right;
}

.eventos .tab-content {
    display: inline-block;
}

@media (min-width: 768px) and (max-width:991px) {
    .barra-mes a {
        font-size: 12px;
    }

    .evento:nth-child(2n-1) {
        clear: both;
    }
}

@media (min-width: 992px) {
    .evento:nth-child(3n+1) {
        clear: both;
    }
}

.evento {
    min-height: 310px;
    padding: 0;
    margin: 5px;
    overflow: hidden;
    position: relative;
    background-color: #f8f8f8;
    border: solid 1px #eaeaea;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.evento:hover {
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    background-color: #fbfbfb;
}

.divCarregando {
    border-width: 0px;
    position: fixed;
    padding: 50px;
    background-color: #FFFFFF;
    font-size: 36px;
    left: 10%;
    top: 30%;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 90px;
}

@media (min-width: 767px) {
    .divCarregando {
        border-width: 0px;
        position: fixed;
        padding: 50px;
        background-color: #FFFFFF;
        font-size: 36px;
        left: 40%;
        top: 40%;
    }

    .evento {
        width: 48%;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        top: 243px;
    }
}

@media (min-width: 992px) {
    .evento {
        width: 31.8%;
    }

    .evento:nth-child(3n+1) {
        clear: both;
    }
}

.paginacao {
    text-align: center;
}

.pagination > a, .pagination > span {
    display: inline;
}

.pagination > a, .pagination > span, .pagination > span > a, .pagination > span > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #707070;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination > a:first-child, .pagination > a:first-child > a, .pagination > span:first-child > a, .pagination > span:first-child, .pagination > span:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination > a:last-child, .pagination > a:last-child > a, .pagination > span:last-child > a, .pagination > span:last-child, .pagination > span:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > a:hover, .pagination > span > a:hover, .pagination > span > span:hover, .pagination > a:focus, .pagination > span > a:focus, .pagination > span > span:focus {
    z-index: 3;
    color: #1a5674;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.pagination > span.active, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #2884b2;
    border-color: #2884b2;
    cursor: default;
}

.pagination > span.disabled, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}

.alert-warning {
    background-color: #cc3333;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    color: #2884b2;
}

.barra-cat a:hover {
    text-decoration: none !important;
}

label.error {
    color: red;
}

.carousel-indicators li {
    border: 1px solid #2884b2;
    background-color: #2884b2;
}
